<div class="container">
  <h1>Genres</h1>


  <table class="table table-striped">
    <tr>
      <th>Name</th>
    </tr>

    <% @genres.each do |genre| %>
      <tr>
        <td><%= link_to "#{genre.name}", genre_path(genre) %></td>
      </tr>
    <% end %>
  </table>
</div>