<div class="container">
  <div class="row">
      <div class="col-8">
        <p id="notice"><%= notice %></p>
        <h1>All books of this genre</h1>


        <table class="table table-striped">

          <tr>
            <th>Title:</th>
            <th>Picture: </th>
            <th>Genre:</th>
            <th>Actions:</th>
          </tr>

          <% @genre.books.each do |book| %>
            <tr>
              <td> <%= book.title %></td>
              <td>

                <% if book.picture.attached? %>
                  <%= image_tag book.picture, size: 100 %>
                <% end %>
              </td>
              <td><%= book.genre.name %></td>
              <% if book.availability? %>
                <td>
                  <%= link_to 'Get book', new_book_book_order_path(book, BookOrder.new) %>
                </td>
              <% else %>
                <td>
                  <p>Waiting for <%= book.book_orders.last.return_date.to_time %></p>
                </td>
              <% end %>
            </tr>

          <% end %>

        </table>


      </div>
  </div>
</div>