
<%= simple_form_for(@reader) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :full_name %>
    <%= f.input :address %>
    <%= f.input :passport_number %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Get read ticket" %>
  </div>
<% end %>
