<%= simple_form_for :user, :url => search_my_books_readers_path, :method => :post do |f| %>
  <%= f.input :read_ticket, label: 'Read ticket' %>
  <%= f.submit 'Search',  :class => "btn btn-primary" %>
<% end %>

<% if @book_orders.present? && !@book_orders.empty? %>
  <% @book_orders.each do |book_order| %>
    <p><%= book_order.book.title %></p>
    <% if book_order.book.availability? %>
      <p>Status = returned</p>
    <% elsif Time.now < book_order.return_date %>
      <p>Status = Waiting</p>
    <% elsif Time.now > book_order.return_date %>
      <p>Status = Expired</p>
    <% end  %>
  <% end %>
<% end %>