<%= simple_form_for :reader, :url => search_my_books_readers_path, :method => :get do |f| %>
  <%= f.input :read_ticket, label: 'Read ticket' %>
  <%= f.submit 'Create', :class => "btn btn-primary" %>
<% end %>