<%= simple_form_for [@book, @book_order] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :reader %>
    <%= f.input :return_date, as: :datetime %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Apply" %>
  </div>
<% end %>
