<p id="notice"><%= notice %></p>

<p>
  <strong>Reader:</strong>
  <%= @book_order.reader %>
</p>

<p>
  <strong>Book:</strong>
  <%= @book_order.book %>
</p>

<p>
  <strong>Return date:</strong>
  <%= @book_order.return_date %>
</p>

<%= link_to 'Edit', edit_book_order_path(@book_order) %> |
<%= link_to 'Back', book_orders_path %>
