<%= simple_form_for @book do |f| %>
  <%= f.input :title, label: 'Title' %>
  <%= f.input :author, label: 'Author' %> <br />
  <p>
    <%= f.label :genre %>
    <%= f.collection_select :genre_id, Genre.all, :id, :name %>
  </p> <br />
  <%= f.file_field :picture %><br />
<% end %>