
<table class="table table-striped">

  <tr>
    <th>Title:</th>
    <th>Picture: </th>
    <th>Genre:</th>
    <th>Actions:</th>
  </tr>

  <% @books.each do |book| %>
    <tr>
      <td> <%= book.title %></td>
      <td>

        <% if book.picture.attached? %>
          <%= image_tag book.picture, size: 100 %>
        <% end %>
      </td>
      <td><%= book.genre.name %></td>
      <% if book.availability? %>
      <td>
        <%= link_to 'Get book', new_book_book_order_path(book, BookOrder.new) %>
      </td>
      <% else %>
        <td>
          <% if book.book_orders.last.present? %>
          <p>Waiting for <%= book.book_orders.last.return_date.to_time %></p>
            <% end %>
        </td>
        <% end %>
    </tr>

  <% end %>

</table>

