<!DOCTYPE html>
<html>
<head>
  <title>Library</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      &#x2630;
    </button>


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <%= link_to 'Home page', root_path, class: 'navbar-brand' %>
        <%= link_to 'Genres', genres_path, class: 'navbar-brand' %>

        <%= link_to 'Search my Books', readers_path, class: 'nav-link' %>
      </ul>
      <div class="navbar-nav ml-auto">
        <div>
          <%= link_to 'Sign in for Admin', new_user_session_path, class: 'nav-link' %>
        </div>

        <div>
          <%= link_to 'Get reader ticket', new_reader_path, class: 'nav-link' %>
        </div>

          </div>


          <div class="dropdown show">
            <% if current_user.present? %>
              <%= link_to current_user.email, edit_user_registration_path(current_user), class: 'btn btn-secondary dropdown-toggle', 'role' => "button", 'id' => "dropdownMenuLink", 'data-toggle' => "dropdown", 'aria-haspopup' => "true", 'aria-expanded' => "false" %>
            <% end %>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <%= link_to 'Edit profile', edit_user_registration_path(current_user), class: 'dropdown-item' %>
              <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
            </div>
            <div>
        </div>
        </div>
        </div>
  </div>

</nav>

<% flash.each do |message_type, message| %>
    <div class="callout callout-<%= message_type %>" id="flash_message">
      <p><%= message %></p>
  </div>
<% end %>

<%= yield %>
</body>
</html>
